<form action="/" method='post'>
      Confirmed:  <%= session[:confirmed] %>
      <br>
      <br>
      <br>
      Recovered: <output type='text'  name='Recovered'
      <%= session[:Deaths] %>></output>
      <br>
      <br>
      <br>
      Deaths: <output type='text'  name='Deaths'
      <%= session[:Deaths] %>></output>
      <br>
      <br>
      <br>
</form>