
<!DOCTYPE html>
<html>
<head>
	<!-- <link href="style.css" rel="stylesheet" type="text/css"> -->
 </head>

<body class="bg">
	<div class="content">

		<div class="center">
		
			<h1>Current Covid-19 Cases in India</h1>	
					<h3>
						Confirmed:  <%= session[:confirmed] %>
					</h3> 
					<h3>
						Recovered:  <%= session[:recovered] %>
					</h3>
					<h3>
						Deaths:  <%= session[:deaths] %>
					</h3>
					 
					 
			 	 	
		</div>

			<br>
			<br>
			<br>
			<br>
			
			
	

	</div>

</body>
</html>

